*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



/* Подгрузка шрифтов */

@font-face {
    font-family: 'Gilroy';
    src: url(./fonts/gilroy-medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Gilroy';
    src: url(./fonts/gilroy-regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'RoadRadio';
    src: url(./fonts/roadradio_regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'RoadRadio';
    src: url(./fonts/roadradio_bold.ttf) format('truetype');
    font-weight: 900;
}

body {
    background-color: #0C0C0C;
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.background-elements {
    background: url(../img/Background\ elements.png) no-repeat;
    background-position: center 630px;
    height: auto;
    position: absolute;
    width: 100vw;

}
.main-bg{
    background: url(../img/bg-main.png) no-repeat;
    background-position: center top;
    height: 10%;
    position: relative;
    z-index: 0;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px 10px;
    max-lines: 1;
}
.header-logo{
    margin-left: 60px;
}
.navItem{
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0 1.4vw;
    transition: 0.3s ease;
    color: #fff;
    position: relative;
}
.orderItem{
    font-family: 'RoadRadio', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    color: #FDDD0A;
    border: #FDDD0A 1px solid;
    padding: 15px;
    box-sizing: border-box;
    margin: 0 3vw;
    transition: 0.3s ease;
}
.orderItem:hover{
    color: #fff;
    border: #fff 1px solid;
}
.orderArrow{
    margin-left: 8px;
}
.header-nav {
    display: flex;
    align-items: center;
    max-height: 55px;
}
header a {
    color: #fff;
    position: relative;
}
.menuItem{
    font-family: 'RoadRadio', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-right: 4vw;
    transition: 0.3s ease;
    cursor: pointer;
    color: #fff;
    position: relative;
}
.menuItem img {
    margin-right: 16px;
}
.navItem:hover,.menuItem:hover {
    color: #FDDD0A;
}
.navItem:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FDDD0A;
    bottom: -10px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.navItem:hover:before {
    transform: scaleX(1);
}
.arrExterprise{
    margin-left: 8px;
}
.exterprise-nav{
    cursor: pointer;
}
.dropdown-content{
    margin-top: 10px;
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #0C0C0C;
    padding: 16px 0 16px 20px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown-content a{
    margin: 24px;
}
.menu-container{
    background-color: #0C0C0C;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.show {
    opacity: 1;
    visibility: visible;
}
.menu{
    background: url(../img/Background\ elements\ menu.png) no-repeat;
    background-attachment: fixed;
    background-position: center 123px;
    z-index: 1;
    height: 80%;
}
.close-menu{
    cursor: pointer;
    padding: 18px 70px 0 0;
}
.menu-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    left: 0;
}
.menu-items{
    display: flex;
    flex-direction: row;
}
.menu-nav{
    margin-right: 70px;
    margin-left: 404px;
    max-width: 620px;
}

.menu-item-nav{
    font-family: 'RoadRadio',serif;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 32px;
    color: #fff;
    transition: 0.5s ease;
}
.menu-item-nav:hover{
    color: #FDDD0A;
}
.menu-item-policy{
    color: #3F3F3F;
    font-family: 'Gilroy', serif;
    font-weight: 500;
    font-size: 15px;
    display: none;
    flex-direction: row;
    margin-top: 52px;
}
.policy-menu-rivo{
    width: 150px;
}
.policy-menu-a{
    width: 415px;
}
.menu-item-policy a{
    padding-left: 100px;
    color: #3F3F3F;
    margin-bottom: 52px;
    width: 200px;
}
.menu-contacts{
    position: absolute;
    margin-left: 1720px;
    z-index: 10;
    margin-top: -180px;
}



@media (max-width: 768px) {
    .menu-item-policy{
        display: flex;
    }
    body{
        max-width: 100%;
    }
    .navItem{
        display: none;
    }
    .background-elements{
        background: none;
    }
    .header-logo{
        margin-left: 10px;
    }
    .orderItem{
        margin-left: 0;
    }
    .menu-items{
        flex-direction: column;
    }
    .menu-nav{
        margin-left: 0;
        margin-top: 100px;
    }
    .menu{
        background: none;
    }
    .menu-contacts{
        display: none;
    }
}
@media (max-width: 375px){
    
    .main-bg{
        background: url(../img/Image\ background\ tel.png) no-repeat;
        background-position: center top;
        height: 10%;
        position: relative;
        z-index: 0;
    }
    .orderItem{
        display:none;
    }
    .menuItem{
        margin: 0;
    }
    .menu-item-nav{
        font-size: 32px;
        font-weight: 400;
    }
    .menu-nav{
        margin-right: 0;
    }
    .menu-item-policy{
        display: block;
    }
    .policy-menu-a{
        width: 250px;
        line-height: 20px;
    }
    .close-menu{
        padding: 0;
        margin-right: 30px;
        width: 104px;
        height: 23px;
    }
    .menu-logos{
        padding: 0 13px;
        width: 100vw;
    }
    .header-logo{
        margin: 0;
    }
}

/* HomeMain */

.main-content{
    margin: 60px auto 0;
    font-family: 'RoadRadio', sans-serif;
    font-weight: 900;
    font-size: 140px;
    line-height: 140px;
    color: #fff;
    max-width: 1150px;
}
.main-title-1{
    margin-left: 200px;
    color: #FDDD0A;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}
.main-title-2{
    margin-left: 360px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}
.main-title-3{
    margin-left: 200px;
}
.main-title-4{
    margin-left: 360px;
}
.main-title-5{
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}
@supports not ((-webkit-text-stroke: 1px #fff)) {
    .main-title-2, .main-title-5 {
        color: #fff;
        filter: drop-shadow(0 0 1px #fff);
    }
}
.scroll-down{
    margin-top: 80px;    
    width: 100vw;
    display: flex;
    left: 0;
    justify-content: center;
}
.main-contacts{
    margin-left: 85%;
    z-index: 10;
}

@media (max-width: 768px){
    .main-content{
        margin-top: 140px;
        font-size: 122px;
        line-height: 122px;
        margin-left: 30px;
    }
    .main-title-1,.main-title-2,.main-title-3,.main-title-4,.main-title-5{
        margin-left: 0;
    }
    .main-title-1{
        font-size: 21px;
        line-height: 21px;
    }
    .scroll-down{
        margin-top: 200px;
    }
    .main-contacts{
        margin-left: 79%;
        margin-top: 40px;
    }
}
@media (max-width: 375px){
    .main-content{
        font-size: 60px;
        line-height: 60px;
        margin-left: 15px;
    }
    .main-title-1{
        font-size: 10px;
        line-height: 10px;
    }
    .main-contacts{
        display: none;
    }
}

/* Стили для секций */

.who-section-content h1, .services-section-content h1, .industry-section-content h1, .stack-section-content h1, .projects-section-content h1, .reviews-section-content h1, .contacts-section-content h1{
    font-family: 'RoadRadio', sans-serif;
    font-weight: 700;
}
.who-section-content p, .services-section-content p, .reviews-section-content p, .contacts-section-content p{
    font-family: 'Gilroy',sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #B6B6B6;
}
.who-section-title, .services-section-title, .industry-section-title, .stack-section-title, .projects-section-title, .reviews-section-title, .contacts-section-title{
    font-size: 52px;
    line-height: 52px;
}
.who-section-title-under, .services-section-title-under, .industry-section-title-under, .stack-section-title-under, .projects-section-title-under,.reviews-section-title-under, .contacts-section-title-under{
    font-size: 100px;
    line-height: 100px;
    color: transparent;
    -webkit-text-stroke: 1px #1A1A1A;
}


/* Стиль для отображения в строку */

.row-container{
    display: flex;
    flex-direction: row;
}



/* HomeWho */

.who-section-content{
    max-width: 70%;
    margin-top: 750px;
    margin: 750px auto 0;
    color: #fff;
}
.team-container{
    margin-top: 52px;
    max-width: 40%;
}
.team-container p{
    margin-top: 24px;
}
.company-container{
    max-width: 50%;
    margin-top: 52px;
    margin-left: 90px;
}
.company-container h1{
    margin-bottom: 24px;
}
.company-container p{
    margin-bottom: 30px;
}
.who-section-video{
    margin-top: -100px;
    max-width: 348px;
    max-height:348px;
}
.mini-contacts{
    margin: 10px 0 0 75vw;
}
.rotate{
    animation: rotate 7s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px){
    .who-section-content{
        margin-left: 30px;
    }
    .row-container{
        flex-direction: column;
    }
    .team-container, .company-container{
        width: 90vw;
        max-width: 90vw;
    }
    .company-container, .who-section-video{
        margin: 52px 0 0;
    }
    .mini-contacts{
        display: block;
    }
    .who-section-video{
        max-width: 100%;
    }
}
@media (max-width: 375px){
    .who-section-content{
        margin-top: 350px;
        margin-left: 15px;
        max-width: 100%;
    }
    .who-section-title, .services-section-title, .industry-section-title, .stack-section-title, .projects-section-title, .reviews-section-title, .contacts-section-title{
        font-size: 32px;
        line-height: 32px;
        text-align: center;
    }
    .who-section-title-under, .services-section-title-under, .industry-section-title-under, .stack-section-title-under, .projects-section-title-under,.reviews-section-title-under, .contacts-section-title-under{
        font-size: 48px;
        line-height: 48px;
        text-align: center;
    }
    
}


/* HomeServices */

.services-section-content{
    color: #fff;
    max-width: 1200px;
    margin: 200px auto 0;
}
.services-section-title-under, .industry-section-title-under{
    margin-bottom: 52px;
}
.webdev-container,.mobdev-container{
    margin-right: 30px;
}
.webdev-container h1,.mobdev-container h1,.customdev-container h1{
    margin: 30px 0 24px;
}
.webdev-container p,.mobdev-container p,.customdev-container p{
    margin-bottom: 32px;
}
.order-button{
    color: #FDDD0A;
    text-decoration: none;
    font-family: 'RoadRadio', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
}
.order-button img{
    margin-left: 8px;
}
@media (max-width: 768px){
    .services-section-content{
        margin: 100px 0 0 30px;
        width: 90vw;
    }
    .webdev-container, .mobdev-container{
        margin-bottom: 52px;
    }
}
@media (max-width: 375px){
    .services-section-content{
        margin-left: 15px;
    }
}

/* HomeIndustry */

.industry-section-content{
    color: #fff;
    max-width: 1200px;
    margin: 140px auto 0;
}
.industry-buttons, .stack-webdev, .stack-mobdev, .stack-devops{
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.industry-buttons a, .stack-webdev a, .stack-mobdev a, .stack-devops a{
    color: #fff;
    width: 255px;
    height: 135px;
    border: #212121 1px solid;
    margin: 0 30px 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'RoadRadio', sans-serif;
    font-weight: 700;
    transition: 0.3s ease;
    box-sizing: border-box;
    z-index: 999;

}
.industry-buttons a:hover, .stack-webdev a:hover, .stack-mobdev a:hover, .stack-devops a:hover{
    border-left:#FDDD0A 4px solid ;
    border-bottom:#FDDD0A 4px solid ;
}
@media (max-width: 768px){
    .industry-section-content{
        margin: 72px 0 0 30px;
        max-width: 95%;
    }
    .industry-buttons{
        max-width: 96vw;
    }
    .right-zero{
        margin-right: 0 !important;
    }
    .industry-buttons a, .stack-webdev a, .stack-mobdev a, .stack-devops a{
        width: 340px;
        height: 135px;
    }
}
@media (max-width: 375px){
    .industry-section-content{
        margin-left: 15px;
        overflow: hidden;
    }
    .right-zero{
        margin-right: 30px !important;
    }
}

/* HomeStack */

.stack-section-content{
    margin: 140px auto 0;
    color: #fff;
    max-width: 1200px;
}
.stack-section-title-under{
    margin-bottom: 52px;
}
.stack-webdev-title,.stack-mobdev-title,.stack-devops-title{
    font-size: 24px;
    line-height: 24px;
    margin: 32px 0;
}
.stack-webdev img, .stack-mobdev img, .stack-devops img{
    margin-bottom: 17px;
}
.stack-webdev a, .stack-mobdev a, .stack-devops a{
    width: 160px;
    height: 123px;
    display: flex;
    flex-direction: column;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 17px;
}
.industry-section-title-under{
    font-size: 80px;
}
@media (max-width: 768px){
    .stack-section-content{
        margin: 72px 0 0 30px;
        max-width: 96%;
    }
    .stack-webdev a, .stack-mobdev a, .stack-devops a{
        width: 150px;
    }
}
@media (max-width: 375px){
    .stack-section-content{
        margin-left: 15px;
    }
    .stack-webdev a, .stack-mobdev a, .stack-devops a{
        width: 40%;
    }
}

/* HomeProjects */

.projects-section-content{
    margin: 140px auto 0;
    color: #fff;
    max-width: 1000px;
}
.projects-section-title-under{
    margin-bottom: 52px;
}
.card-container{
    writing-mode: vertical-lr;
    margin-bottom: 52px;
    text-decoration: none;
    position: relative;
}
.card-title{
    transform: rotate(180deg);
    text-align: right;
    font-family: 'Gilroy', serif;
    font-size: 32px;
    font-weight: 500;
    margin-right: 33px;
}
.card-img{
    transition: 0.5s ease;
    width: 100%;
    height: 100%;
}
.card-img:hover{
    border-left:#FDDD0A 4px solid ;
    border-bottom:#FDDD0A 4px solid ;
    opacity: 30%;
}
.view-proj{
    color:#FDDD0A;
    font-family: 'RoadRadio', serif;
    font-weight: 400;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    writing-mode: lr-tb;
    transform: translate(-50%, -50%);
}
.view-proj-img{
    margin-left: 8px;
    transform: rotate(45deg);
}
.card-project{
    display: flex;
    width: 100%;
    text-decoration: none;
    position: relative;
    align-items: center;
    justify-content: center; 
    height: 300px;
}
.proj-cases-button{
    width: 896px;
    margin-left: 66px;
    font-family: 'RoadRadio', serif;
    font-weight: 400;
    font-size: 17px;
    color: #FDDD0A;
    text-align: center;
    text-decoration: none;
    display: flex;
    height: 100px;
    border: #FDDD0A 1px solid;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}
.proj-cases-button img{
    margin-left: 12px;
    max-width: 9px;
    max-height: 9px;
}
.proj-cases-button:hover{
    border: #fff 1px solid;
}

@media (max-width: 768px){
    .projects-section-content{
        margin: 72px 0 0 30px;
        max-width: 100%;
    }
    .proj-cases-button{
        width: 708px;
        margin-left: 0;
    }
    .card-container{
        max-width: 100%;
    }
    .card-img{
        max-width: 85vw;
        object-fit:cover;
    }
}
@media (max-width: 375px){
    .projects-section-content{
        margin-left: 15px;
    }
    .card-img{
        max-width: 77vw;
        object-fit:cover;
    }
    .proj-cases-button{
        width: 95vw;
    }
}



/* HomeReviews */

.reviews-section-content{
    margin: 140px auto 350px;
    color: #fff;
    width: 1100px;
    position: relative;
}
.card-reviews-container{
    display: flex;
    flex-direction: row;
}
.card-reviews-content{
    margin-top: 113px;
    width: 540px;
}
.card-reviews-title{
    font-weight: 700;
    font-size: 15px;
    color: #FDDD0A;
    margin-bottom: 20px;
}
.card-reviews-name{
    font-size: 32px;
}
.card-reviews-message{
    margin: 24px 0 50px;
    max-width: 500px;
}
.card-reviews-img{
    margin: 52px 0 0 10vw;
}
.arrnav2{
    transform: rotate(180deg);
    margin-left: 30px;
}
.reviews-navigation{
    margin:52px 0 0;
}
.arrnav1, .arrnav2{
    cursor: pointer;
    transform: 0.5s ease;
}
.arrnav1:hover, .arrnav2:hover{
    filter: invert(91%) sepia(94%) saturate(1385%) hue-rotate(7deg) brightness(90%) contrast(107%);
}
.reviews-pagination {
    display: flex;
    justify-content: center;
    margin: 60px 0 0 20px;
    position: absolute;
}
.pagin, .pagin-active {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.pagin-active {
    animation: rotate 10s infinite linear;
}
.reviews-navigation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 768px){
    .reviews-section-content{
        margin: 72px 0 0 30px;
        width: 95vw;
    }
    .card-reviews-img{
        margin-left: 0;
    }
    .card-reviews-content{
        width: 350px;
    }
    .reviews-navigation{
        margin-right: 30px;
    }
}
@media (max-width: 375px){
    .reviews-section-content{
        margin-left: 15px;
    }
    .card-reviews-container{
        flex-direction: column;
    }
}



/* FormContacts */

.contacts-section-content{
    color: #fff;
    margin: 0 auto 236px;
    max-width: 1200px;
}
.styled-form {
    border-radius: 8px;
    width: 50%;
    margin-right: 125px;

}
.styled-form p{
    margin: 30px 0;
}
input {
    width: 100%;
    border: none;
    border-bottom: #272727 1px solid;
    font-family: 'Gilroy', serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    padding-bottom: 5px;
    transition: 0.5s ease;
    outline: none;
}
input::placeholder{
    color: #3F3F3F;
}
input:hover{
    border-bottom-color: #949494;
}
.error-border{
    border-bottom-color: #ff4d4d !important;
}
.error {
    color: #ff4d4d;
    font-size: 13px;
    font-family: 'Gilroy', serif;
    font-weight: 500;
    position: absolute;
    left: 39%;
}
.styled-form button{
    outline: none;
    color: #FDDD0A;
    background-color: transparent;
    border: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: center;
    height: 55px;
    border: #FDDD0A 1px solid;
    margin-top: 42px;
    cursor: pointer;
    transition: 0.5s ease;
}
.styled-form button:hover{
    background-color: #fff;
    border-color: #fff;
    color: #000;
}
.styled-form img{
    margin-left: 8px;
    width: 15px;
    height: 15px;
}
.contacts-section-title-under{
    margin-bottom: 52px;
}
.contact-title{
    line-height: 41.6px;
    margin-bottom: 32px;
}
.telephone-1{
    margin: 42px 0 20px;
}
.telephone-2{
    margin-bottom: 42px;
}
.social-icons{
    display: flex;
    flex-direction: row;
}
.social-icons a{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-right: 16px;
    background-color: #1A1A1A;
    cursor: pointer;
    transition: 0.5s ease;
}
.social-icons a:hover{
    background-color: #FDDD0A;
}
.social-icons img:hover{
    filter: invert(100%) brightness(1000%);
}
.black-to-white{
    filter: invert(100%) brightness(1000%);
}
@media (max-width: 768px){
    .contacts-section-content{
        margin: 180px 0 0 30px;
    }
    .styled-form{
        width: 90vw;
    }
    .contact-container{
        margin-top: 52px;
    }
}
@media (max-width: 375px){
    .contacts-section-content{
        margin-left: 15px;
    }
}


/* Footer */

.footer-nav{
    font-family: 'RoadRadio',serif;
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 32px;
    margin: 0 auto 32px;
    color: #fff;
    transition: 0.5s ease;
    max-width:700px;
}
.footer-nav:hover{
    color: #FDDD0A;
}
.footer-policy{
    margin: 68px auto 0;
    max-width: 700px;
    color: #3F3F3F;
    font-family: 'Gilroy', serif;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    flex-direction: row;
}
.footer-policy a{
    margin-left: 100px;
    color: #3F3F3F;
    margin-bottom: 52px;
}
@media (max-width: 768px){
    .contacts-section-content{
        margin-bottom: 120px;
    }
    .footer-nav{
        margin-left: 30px;
    }
    .footer-policy{
        margin-left: 30px;
    }
}
@media (max-width: 375px){
    .footer-nav{
        margin-left: 15px;
        font-size: 32px;
    }
    .footer-policy{
        display: block;
        margin-left: 15px;
    }
}
/* Contacts */
.contact-container{
    color: #fff;
}
.contact-container h1{
    font-family: 'RoadRadio', serif;
    font-weight: 700;
}
.contact-container p{
    font-family: 'Gilroy', serif;
    font-weight: 500;
    color: #B6B6B6;
}



/* 404 */
.bg-404{
    background-color: #0C0C0C;
}
.container-404{
    background: url(../img/bg-404.png) no-repeat;
}
.content-404{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    margin-top: 16vh;
    position: relative;
}
.img-404{
    margin-bottom: 42px;
}
.content-404 h1{
    font-family: 'RoadRadio', serif;
    text-align: center;
}
.content-404 p{
    font-family: 'Gilroy', serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    max-width: 38vw;
    text-align: center;
    z-index: 1;
}
.title-404{
    font-size: 72px;
    margin-bottom: 10px;
    z-index: 1;
}
.button-404{
    color:#FDDD0A;
    font-weight: 400;
    font-size: 17px;
    width: 12vw;
    height: 50px;
    border: #FDDD0A 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
}
.button-404 img{
    margin-left: 8px;
}
.scroll-down-404{
    margin-top: 7vw;
    margin-bottom: 1vw;
}
.bg-text-404{
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 3px #1A1A1A;
    position: absolute;
    z-index: 0;
    top:38%;
}
@media (max-width:768px){
    .content-404{
        height: 90vh;
        margin-top: 0;
    }
    .container-404{
        background: none;
    }
    .content-404 p{
        max-width: 75vw;
    }
    .bg-text-404{
        top: 43%;
    }
    .button-404{
        width: 60vw;
    }
}
@media (max-width:375px){
    .title-404{
        font-size: 36px;
    }
    .content-404 p{
        font-size: 14px;
        line-height: 15px;
    }
    .bg-text-404{
        font-size: 50px;
        top: 45%;
    }
}



/* Privacy Policy */
.privacy-container{
    color: #fff;
    background-color: #0C0C0C;
    background: url(../img/privacy-bg.png) no-repeat;
    background-position: center 600px;
}
.privacy-content{
    width: 38vw;
    margin: 52px auto 260px;
    font-family: 'Gilroy',serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.privacy-back-button{
    font-family: 'RoadRadio',serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}
.privacy-back-button img{
    margin-right: 16px;
}
.privacy-content h1{
    margin: 52px 0;
    font-size: 52px;
    line-height: 68px;
}
.privacy-content h2{
    font-size: 24px;
    line-height: 24px;
    margin: 52px 0 24px;
}
.privacy-content ul{
    margin-top: 24px;
}
.privacy-content li{
    margin: 0 0 40px 24px;
    line-height: 32px;
}
.privacy-content ul {
    list-style-type: none;
}
.privacy-content li::before {
    content: url('../img/Ellipse.png');
    margin-right: 20px; 
}
@media (max-width:768px){
    .privacy-container{
        background: none;
    }
    .privacy-content{
        width: 70vw;
    }
}
@media (max-width:375px){
    .privacy-content{
        font-size: 12px;
        line-height: 20px;
    }
    .privacy-back-button{
        font-size: 14px;
    }
    .privacy-content h1{
        font-size: 34px;
        line-height: 52px;
    }
    .privacy-content h2{
        font-size: 18px;
        line-height: 18px;
    }
    .privacy-content li{
        line-height: 24px;
    }
}

/* Careers */
.bg-careers{
    background-color: #0C0C0C;
    background: url(../img/bg-careers.png) no-repeat;
}
.careers-title-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 72px;
}
.careers-titles{
    font-family: 'RoadRadio', serif;
    font-weight: 700;
}
.careers-title{
    color: #fff;
    font-size: 52px;
    line-height: 52px;
}
.careers-title-under{
    font-size: 100px;
    line-height: 100px;
    color: transparent;
    -webkit-text-stroke: 1px #1A1A1A;
}
.careers-titles-content{
    font-family: 'Gilroy',serif;
    font-weight: 500;
    color: #fff;
    margin-left: 9vw;
    max-width: 28vw;
}
.careers-titles-content h2{
    font-size: 24px;
    margin-bottom: 24px;
}
.careers-titles-content p{
    font-size: 16px;
    line-height: 24px;
}
.vacancies-container{
    margin-top: 90px;
    color: #fff;
    margin: 90px auto 140px;
    max-width: 63vw;
}
.vacancies-title{
    font-family: 'Gilroy',serif;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 52px;
}
.vacancies-content{
    height: 355px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.vacancies-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 66px;
    width: 100%;
    border: #212121 1px solid;
    position: relative;
}
.vacancies-hug{
    color: #000;
    font-family: 'Gilroy', serif;
    margin-left: 30px;
    padding: 1px 4px;
    background-color: #fff;
    font-size: 12px;
}
.vacancies-card-title{
    font-family: 'RoadRadio',serif;
    font-weight: 400;
    font-size: 24px;
    margin-left: 10px;
}
.vacancies-hug-hot{
    color: #000;
    font-family: 'Gilroy', serif;
    padding: 1px 4px;
    background-color: #FDDD0A;
    font-size: 12px;
    position: absolute;
    left: 323px;

}
.vacancies-salary,.vacancies-location{
    font-family: 'Gilroy',serif;
    font-weight: 500;
    font-size: 18px;
    left: 40%;
    position: absolute;
}
.vacancies-location{
    left:60%;
}
.vacancies-button{
    font-family: 'RoadRadio',serif;
    color: #FDDD0A;
    font-size: 16px;
    font-weight: 400;
    padding: 22px;
    border: #FDDD0A 1px solid;
    transition: 0.5s ease;
    position: absolute;
    right: 0;
}
.vacancies-button:hover{
    color: #000;
    background-color: #FDDD0A;
}
@media (max-width:768px){
    .bg-careers{
        background: none;
    }
    .careers-title-container{
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .careers-titles-content{
        max-width: 90vw;
        margin-left: 0;
        margin-top: 32px;
    }
    .vacancies-container{
        max-width: 90vw;
    }
    .vacancies-card-title{
        font-size: 24px;
    }
    .vacancies-salary,.vacancies-location{
        display: none;
    }
    .vacancies-button{
        font-size: 16px;
    }
    .vacancies-hug-hot{
        display: none;
    }
}
@media (max-width:375px){
    .careers-title{
        font-size: 38px;
        line-height: 38px;
    }
    .careers-title-under{
        font-size: 50px;
        line-height: 50px;
        color: transparent;
        -webkit-text-stroke: 1px #1A1A1A;
    }
    .careers-titles-content p{
        font-size: 12px;
        line-height: 24px;
    }
    .careers-titles-content h2{
        font-size: 16px;
        margin-bottom: 24px;
    }
    .vacancies-card-title{
        font-size: 18px;
        width: 100px;
    }
    .vacancies-button{
        font-size: 10px;
        padding: 26px 10px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .vacancies-hug{
        margin-left: 10px;
        font-size: 8px;
    }
    .vacancies-card{
        height: 100px;
    }
    .vacancies-content{
        height: 500px;
    }
}



/* Vacancie */
.bg-vacancie{
    background-color: #0C0C0C;
    background: url(../img/vacancie-bg.png) no-repeat;
}
.vacancie-container{
    margin: 52px auto 140px;
    max-width: 58vw;
    position: relative;
}
.vacancie-title{
    color: #fff;
    font-family: 'RoadRadio',serif;
    font-weight: 700;
    font-size: 52px;
    margin: 52px 0;
}
.vacancie-button{
    position: absolute;
    margin: 0;
    right: 0;
    top: 77px;
}